body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF3E0;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    background: #8B4513;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 12px 15px;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #FFD700;
    color: #8B4513;
    border-radius: 5px;
}

.intro {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
}

.plant-image {
    width: 50%;
    margin-top: 10px;
    border-radius: 10px;
}
nav ul {
    display: flex;
    justify-content: center; /* Centra los elementos */
    gap: 15px; /* Agrega espacio entre los botones */
    padding: 10px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 10px 15px;
    font-size: 16px;
}